body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

/* General Styles */
.login-signup-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

.form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 45%;
    text-align: center;
}

form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1877f2;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background-color: #1877f2;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #155dbb;
}

form a {
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

form a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .login-signup-container {
        flex-direction: column;
    }
    .form-container {
        width: 80%;
        margin-bottom: 20px;
    }
}

