.clearButton{


   border-radius: 20px; /* Adjust the value to change the roundness */
  background-color: hsl(302, 91%, 42%); /* Button background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  border: none; /* Remove border */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: background-color 0.3s ease;
  

}
body
{
    
    top:40%;
}